@use './variables' as *;

.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    &__proceed {
        text-align: center;
        background-color: $brightBlue;
        color: $white;
        width: 100%;
        margin-top: 1.5rem;
        padding: 1rem 3rem;
        border-radius: .65rem;
        text-decoration: none;
        box-shadow: $brightBlue 0px 25px 20px -20px;
        transition: all 0.1s ease-in-out;
        &:hover {
            background-color: rgb(97, 53, 255);
        }
    }
    &__cancel {
        color: $desaturatedBlue;
        text-decoration: none;
        margin-bottom: .6rem;
        font-weight: $fw700;
        &:hover {
            color: $darkBlue;
        }
    }
}