@use './variables' as *;

.card {
    background-color: $white;
    max-width: 400px;
    margin: 0 1.5rem 0 1.5rem;
    border-radius: 20px;
    overflow: hidden;
    &__content {
        padding: 1.2rem;
    }
    &__image {
        border-radius: 20px 20px 0 0;
    }
    &__title {
        text-align: center;
        color: $darkBlue;
        font-weight: $fw900;
        font-size: 22px;
        margin: 1rem 0;
    }
    &__description {
        text-align: center;
        color: $desaturatedBlue;
        line-height: 1.5;
        margin-bottom: 1.2rem;
    }
}