$paleBlue: hsl(225, 100%, 94%);
$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);
$veryPaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);

$fs: 16px;




:root {
    //colors
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);
    --veryPaleBlue: hsl(225, 100%, 98%);
    --desaturatedBlue: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);
  
    //font-size
    --fs: 16px;
  
    //font-weights
    --fw500: 500;
    --fw700: 700;
    --fw900: 900;
  
    //font-family
    --ff: 'Red Hat Display', sans-serif;
  }