$paleBlue: hsl(225, 100%, 94%);
$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);
$veryPaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);

$fs: 16px;

$fw500: 500;
$fw700: 700;
$fw900: 900;

$ff: 'Red Hat Display', sans-serif;